<div class="top-row" style="color:White;">
    <h5 style="font-size:17px;padding-top:7px;">Welcome to Stock Crypto Tracker</h5>
    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" style="color:#65de77">About Us</a>
    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank" style="color:#65de77">Create Acount</a>
</div>

@code {

}
