.top-row {
    background-color: #323232;
    border-top: 1px solid white;
    justify-content: flex-end;
    height: 3rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    padding-right: 30px;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }
